:root {
  --main-page-background: #ffffff;
  --section-background: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-background-passive: #f5f4fa;
  --text-color-main: #212121;
  --accent-color: #2196f3;
  --link-text-color-passive: #212121;
  --button-text-color-hover: #ffffff;
  --text-color-second: #757575;
  --text-color-third: #fff;
  --logo-color-main: #2196f3;
  --logo-color-second: #000000;
  --contact-color-footer: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-page-background);
}
.list {
  list-style: none;
}
/* HEADER */

.logo-main {
  color: var(--logo-color-main);
  text-decoration: none;
}
.logo-black {
  color: var(--logo-color-second);
}
.nav-list .link {
  color: var(--link-text-color-passive);
  text-decoration: none;
}
.nav-list .active {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.contact-list .list {
  color: var(--text-color-second);
  text-decoration: none;
}
.contact-list .list:hover,
.contact-list .list:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* MAIN */

.hero-page {
  background-color: var(--section-background);
}
.hero-header {
  color: var(--text-color-third);
}
.hero-page-button {
  background-color: var(--logo-color-main);
  color: var(--text-color-third);
}
.description {
  color: var(--text-color-second);
}
.description .description-list {
  color: var(--text-color-main);
}
.section-header {
  color: var(--text-color-main);
}
.team {
  background-color: var(--secondary-background-color);
}
.team-member {
  color: var(--text-color-main);
}
.team-member .description {
  color: var(--text-color-second);
}
/* FOOTER */
.footer {
  background-color: var(--section-background);
}
.logo-white {
  color: var(--text-color-third);
}
.adress {
  color: var(--text-color-third);
  font-style: normal;
}
.contacts .list {
  text-decoration: none;
  color: var(--contact-color-footer);
}
